body {
    font-family: sans-serif;
}
header h1{
    text-align: center;
}
header img{
    width: 1005px;
    height: 580px;
     box-shadow: 3px 3px 5px 3px #E3BD38;
}
main p{
    background-image: linear-gradient(to right bottom, #E3BD38, white);
}
